### Task 1
Load the data into a DataFrame and check for missing values. Drop the rows with missing values and proceed with the cleaned-up data for the subsequent tasks.

In [17]:

import pandas as pd


import warnings
warnings.filterwarnings('ignore')

df= pd.read_csv('DS1_C4_S4_Used_Car_Prices_Data_Challenge.csv')
df

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493484 non-null  object
 6   state         558836 non-null  object
 7   condition     547043 non-null  float64
 8   odometer      558743 non-null  float64
 9   color         558088 non-null  object
 10  interior      558088 non-null  object
 11  seller        558837 non-null  object
 12  mp            558837 non-null  int64
 13  Arrival_Date  558812 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 59.7+ MB

In [19]:
df.isnull().sum()  # identify missing values

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
state               1
condition       11794
odometer           94
color             749
interior          749
seller              0
mp                  0
Arrival_Date       25
dtype: int64

In [20]:
df.dropna().isnull().sum()  # drop null values

year            0
make            0
model           0
trim            0
body            0
transmission    0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mp              0
Arrival_Date    0
dtype: int64

In [21]:
d = df.dropna(how='all')
d

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

### Task 2
Thomas, a potential customer from California, is interested in buying a low-priced car manufactured in 2014. John needs to identify 100 lowest-priced cars from the year 2014 with CAC A as the state of registration.
Help John create and display the details of potential cars.

In [22]:
T = d[(d['state'] == "ca") & (d['year'] == 2014)].sort_values(by='mp', ascending=True).head(100)
T

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
179673,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,2.4,78882.0,white,black,nissan motor acceptance corporation,6175,Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
494101,2014,Mitsubishi,Mirage,DE,hatchback,automatic,ca,4.3,24002.0,silver,black,black/white auto sales,7225,Wed Jun 03 2015 05:15:00 GMT-0700 (PDT)
477609,2014,Nissan,Versa,1.6 SV,sedan,automatic,ca,4.1,43948.0,black,black,consumer portfolio services,7425,Wed Jun 03 2015 05:30:00 GMT-0700 (PDT)
444039,2014,Nissan,Versa,1.6 SV,Sedan,manual,ca,3.0,44854.0,black,black,bmw alphera/alphera financial services,7525,Tue Jun 02 2015 05:30:00 GMT-0700 (PDT)
543536,2014,smart,fortwo,passion coupe,hatchback,automatic,ca,4.8,3575.0,â€”,black,mercedes-benz financial services,7900,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457262,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,3.9,8857.0,gray,black,santander consumer,9675,Thu May 28 2015 05:00:00 GMT-0700 (PDT)
379472,2014,Ford,Fiesta,SE,Hatchback,automatic,ca,4.3,45661.0,red,black,avis corporation,9675,Tue Mar 03 2015 04:45:00 GMT-0800 (PST)
60893,2014,Toyota,Yaris,LE,Hatchback,automatic,ca,2.0,32691.0,red,black,enterprise vehicle exchange / tra / rental / t...,9675,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
442576,2014,smart,fortwo,electric drive coupe,Hatchback,automatic,ca,4.8,4171.0,white,gray,mercedes-benz financial services,9700,Wed May 27 2015 05:30:00 GMT-0700 (PDT)
543472,2014,Nissan,Versa Note,1.6 SV,hatchback,automatic,ca,4.2,16241.0,â€”,black,nissan motor acceptance corporation,9700,Tue Jun 16 2015 05:30:00 GMT-0700 (PDT)

## Task 3
Thomas is confused by looking at the long list of 100 cars. Help John to display the output in a cross table based on the car manufacturers and prices.

In [23]:
A=pd.crosstab(T.mp, T.make, rownames=['mp'], colnames=['make']) 
A
# find the sum of values in the columns

make,Chevrolet,FIAT,Ford,Hyundai,Mazda,Mitsubishi,Nissan,Toyota,Volkswagen,smart
mp,,,,,,,,,,
6175,0,0,0,0,0,0,1,0,0,0
7225,0,0,0,0,0,1,0,0,0,0
7425,0,0,0,0,0,0,1,0,0,0
7525,0,0,0,0,0,0,1,0,0,0
7900,0,0,0,0,0,0,0,0,0,1
8050,0,0,0,0,0,0,1,0,0,0
8300,0,0,0,0,0,0,1,0,0,0
8400,1,0,0,0,0,0,0,0,0,0
8425,0,0,0,0,0,0,1,0,0,0
8475,0,0,1,0,0,1,0,0,0,0
8500,1,0,0,0,0,0,1,0,0,0
8525,0,0,0,0,0,0,3,0,0,0
8675,0,0,1,0,0,0,0,0,0,0
8700,1,0,0,0,0,0,0,0,0,0
8750,0,0,0,0,0,1,0,0,0,0
8800,0,0,0,0,0,0,1,0,0,0
8850,0,0,0,0,0,0,2,0,0,0
8875,0,0,0,0,0,0,3,0,0,0
8900,0,0,1,0,0,0,0,0,0,0
8950,1,0,0,0,0,0,1,0,0,0
9050,1,0,0,0,0,0,0,0,0,0
9075,0,0,1,0,0,0,1,0,0,0
9125,0,0,0,0,0,0,1,0,0,0
9150,1,1,1,0,0,0,2,0,0,0
9175,0,0,0,0,0,0,2,0,1,0
9200,0,0,0,0,0,0,1,0,0,0
9225,0,0,0,0,0,0,3,0,0,0
9250,1,0,0,0,0,0,3,0,0,0
9275,0,0,0,0,0,0,2,0,0,0
9325,1,0,0,0,0,0,2,0,0,0
9350,0,0,0,0,0,0,2,0,0,0
9375,0,0,1,0,0,0,3,0,0,0
9425,0,0,1,0,0,1,1,0,0,0
9450,1,0,0,0,0,0,2,0,0,0
9475,0,0,0,0,1,0,2,0,0,0
9500,2,0,0,0,0,0,2,0,0,0
9525,0,0,1,0,0,0,2,0,0,0
9550,2,0,2,0,0,0,0,0,0,0
9575,0,0,3,0,0,0,0,0,0,1
9600,0,0,0,0,0,1,1,1,0,0
9625,2,0,0,0,0,0,3,0,0,1
9650,1,0,0,1,0,0,1,0,0,0
9675,0,0,1,0,0,0,1,1,0,0
9700,0,0,0,0,0,0,1,0,0,1

### Task 4
Thomas is particularly interested in Chevrolet cars. Eric is willing to offer a 10% discount on Chevrolet cars from the list of 100 cars identified in the previous tasks.
Display the updated data with only Chevrolet cars with their original prices and discounted prices.

In [24]:
C=T[(T.make=="Chevrolet")]   # list of Chevrolet cars
C

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
518957,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,1.0,38707.0,white,gray,enterprise vehicle exchange / tra / rental / t...,8400,Tue Jun 09 2015 06:00:00 GMT-0700 (PDT)
473427,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,2.3,43370.0,blue,black,enterprise veh exchange/rental,8500,Thu May 28 2015 05:00:00 GMT-0700 (PDT)
80892,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,34016.0,silver,black,enterprise vehicle exchange / tra / rental / t...,8700,Tue Jan 06 2015 13:00:00 GMT-0800 (PST)
2191,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,NaN,33906.0,white,black,enterprise vehicle exchange / tra / rental / t...,8950,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
44314,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,28077.0,â€”,gray,enterprise vehicle exchange / tra / rental / t...,9050,Tue Dec 23 2014 12:00:00 GMT-0800 (PST)
531030,2014,Chevrolet,Sonic,LT,sedan,automatic,ca,2.5,50629.0,gray,black,the hertz corporation,9150,Thu Jun 11 2015 05:30:00 GMT-0700 (PDT)
258946,2014,Chevrolet,Sonic,LS,Hatchback,manual,ca,1.9,8887.0,silver,gray,crb auto finance,9250,Wed Feb 11 2015 04:30:00 GMT-0800 (PST)
471595,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,2.0,25502.0,silver,black,fox rent a car tra,9325,Wed May 27 2015 08:05:00 GMT-0700 (PDT)
125534,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,1.0,34780.0,white,â€”,enterprise vehicle exchange / tra / rental / t...,9450,Wed Jan 14 2015 07:05:00 GMT-0800 (PST)
44341,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,20701.0,silver,black,enterprise vehicle exchange / tra / rental / t...,9500,Tue Dec 30 2014 13:00:00 GMT-0800 (PST)
456227,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,4.4,40464.0,gray,black,the hertz corporation,9500,Thu May 28 2015 05:00:00 GMT-0700 (PDT)
456215,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,3.4,39647.0,blue,black,the hertz corporation,9550,Thu May 28 2015 05:00:00 GMT-0700 (PDT)
229362,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,4.1,12658.0,silver,black,the hertz corporation,9550,Wed Feb 04 2015 04:30:00 GMT-0800 (PST)
391429,2014,Chevrolet,Spark,LS,Hatchback,automatic,ca,5.0,4459.0,white,gray,buyers auto sales,9625,Wed Mar 04 2015 04:30:00 GMT-0800 (PST)
105924,2014,Chevrolet,Sonic,LT,Hatchback,automatic,ca,1.0,40051.0,silver,black,enterprise vehicle exchange / tra / rental / t...,9625,Tue Jan 13 2015 12:00:00 GMT-0800 (PST)
125525,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,19146.0,white,â€”,enterprise vehicle exchange / tra / rental / t...,9650,Wed Jan 21 2015 07:05:00 GMT-0800 (PST)

In [25]:
C=T[(T.make=="Chevrolet")]
C['dp']= C['mp']* 0.9  # 10% discount price on Chevrolet cars 
C

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date,dp
518957,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,1.0,38707.0,white,gray,enterprise vehicle exchange / tra / rental / t...,8400,Tue Jun 09 2015 06:00:00 GMT-0700 (PDT),7560.0
473427,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,2.3,43370.0,blue,black,enterprise veh exchange/rental,8500,Thu May 28 2015 05:00:00 GMT-0700 (PDT),7650.0
80892,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,34016.0,silver,black,enterprise vehicle exchange / tra / rental / t...,8700,Tue Jan 06 2015 13:00:00 GMT-0800 (PST),7830.0
2191,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,NaN,33906.0,white,black,enterprise vehicle exchange / tra / rental / t...,8950,Tue Dec 16 2014 13:00:00 GMT-0800 (PST),8055.0
44314,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,28077.0,â€”,gray,enterprise vehicle exchange / tra / rental / t...,9050,Tue Dec 23 2014 12:00:00 GMT-0800 (PST),8145.0
531030,2014,Chevrolet,Sonic,LT,sedan,automatic,ca,2.5,50629.0,gray,black,the hertz corporation,9150,Thu Jun 11 2015 05:30:00 GMT-0700 (PDT),8235.0
258946,2014,Chevrolet,Sonic,LS,Hatchback,manual,ca,1.9,8887.0,silver,gray,crb auto finance,9250,Wed Feb 11 2015 04:30:00 GMT-0800 (PST),8325.0
471595,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,2.0,25502.0,silver,black,fox rent a car tra,9325,Wed May 27 2015 08:05:00 GMT-0700 (PDT),8392.5
125534,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,1.0,34780.0,white,â€”,enterprise vehicle exchange / tra / rental / t...,9450,Wed Jan 14 2015 07:05:00 GMT-0800 (PST),8505.0
44341,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,20701.0,silver,black,enterprise vehicle exchange / tra / rental / t...,9500,Tue Dec 30 2014 13:00:00 GMT-0800 (PST),8550.0
456227,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,4.4,40464.0,gray,black,the hertz corporation,9500,Thu May 28 2015 05:00:00 GMT-0700 (PDT),8550.0
456215,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,3.4,39647.0,blue,black,the hertz corporation,9550,Thu May 28 2015 05:00:00 GMT-0700 (PDT),8595.0
229362,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,4.1,12658.0,silver,black,the hertz corporation,9550,Wed Feb 04 2015 04:30:00 GMT-0800 (PST),8595.0
391429,2014,Chevrolet,Spark,LS,Hatchback,automatic,ca,5.0,4459.0,white,gray,buyers auto sales,9625,Wed Mar 04 2015 04:30:00 GMT-0800 (PST),8662.5
105924,2014,Chevrolet,Sonic,LT,Hatchback,automatic,ca,1.0,40051.0,silver,black,enterprise vehicle exchange / tra / rental / t...,9625,Tue Jan 13 2015 12:00:00 GMT-0800 (PST),8662.5
125525,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,19146.0,white,â€”,enterprise vehicle exchange / tra / rental / t...,9650,Wed Jan 21 2015 07:05:00 GMT-0800 (PST),8685.0

### Task 5
Thomas and several other customers seem to be interested in cars with black or gray colored interiors. John wants to figure out if the cars with interiors in black or gray are priced higher or lower than cars having interiors of other colors.
Determine the average price of all the 100 lowest-priced cars from the year 2014 based on their interior colors.

In [26]:
# all cars with interiors in black or gray with lower to higher mps
I=T[(T['interior'] == "black") | (T['interior'] == "gray")&
     (T.state=="ca")].sort_values(by='mp', ascending=True)
I

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
179673,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,2.4,78882.0,white,black,nissan motor acceptance corporation,6175,Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
494101,2014,Mitsubishi,Mirage,DE,hatchback,automatic,ca,4.3,24002.0,silver,black,black/white auto sales,7225,Wed Jun 03 2015 05:15:00 GMT-0700 (PDT)
477609,2014,Nissan,Versa,1.6 SV,sedan,automatic,ca,4.1,43948.0,black,black,consumer portfolio services,7425,Wed Jun 03 2015 05:30:00 GMT-0700 (PDT)
444039,2014,Nissan,Versa,1.6 SV,Sedan,manual,ca,3.0,44854.0,black,black,bmw alphera/alphera financial services,7525,Tue Jun 02 2015 05:30:00 GMT-0700 (PDT)
543536,2014,smart,fortwo,passion coupe,hatchback,automatic,ca,4.8,3575.0,â€”,black,mercedes-benz financial services,7900,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379472,2014,Ford,Fiesta,SE,Hatchback,automatic,ca,4.3,45661.0,red,black,avis corporation,9675,Tue Mar 03 2015 04:45:00 GMT-0800 (PST)
457262,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,3.9,8857.0,gray,black,santander consumer,9675,Thu May 28 2015 05:00:00 GMT-0700 (PDT)
60893,2014,Toyota,Yaris,LE,Hatchback,automatic,ca,2.0,32691.0,red,black,enterprise vehicle exchange / tra / rental / t...,9675,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
442576,2014,smart,fortwo,electric drive coupe,Hatchback,automatic,ca,4.8,4171.0,white,gray,mercedes-benz financial services,9700,Wed May 27 2015 05:30:00 GMT-0700 (PDT)
543472,2014,Nissan,Versa Note,1.6 SV,hatchback,automatic,ca,4.2,16241.0,â€”,black,nissan motor acceptance corporation,9700,Tue Jun 16 2015 05:30:00 GMT-0700 (PDT)

In [27]:
#count of all cars with interiors in black or gray
pd.pivot_table(I, index=['interior'], values=['mp'], aggfunc='count')

          mp
interior
black     77
gray      14

In [28]:
'''
the average price of all the 100 lowest-priced cars from the year 2014 
based on their interior colors
'''

Y= T[T['year'] == 2014]
pd.pivot_table(Y, index='interior', values='mp', aggfunc='mean').sort_values(by='mp', ascending=False)

                   mp
interior
beige     9600.000000
tan       9575.000000
â€”         9437.500000
purple    9175.000000
gray      9169.642857
red       9150.000000
black     9091.558442

### Task 6
Most buyers seem to prefer white and black colored cars. John wants to analyze the color-wise availability of cars for each manufacturer from the years 2010 to 2015.

In [29]:
wb= d[(d['year'] >= 2010) & (d['year'] <= 2015)]

#pd.pivot_table(d[(d['year'] >= 2010) & (d['year'] <= 2015)], index='make',values='color',aggfunc='count')

In [30]:
# color-wise availability of cars 

d[(2010 >= d['year']) & (d['year'] <= 2015)].groupby(['make', 'color'])['color'].count()

make        color
Acura       beige        40
            black       762
            blue        249
            brown        12
            burgundy     56
                       ...
volkswagen  silver        2
vw          black         1
            blue          2
            gray          1
            silver        1
Name: color, Length: 1006, dtype: int64

### Task 7
Eric, another customer, is interested in a good-condition BMW Sedan manufactured between 2010 and 2015. John wants to display the details of all such cars that have a condition score >=4.5.
Help John to figure out the year-wise maximum expected price (mp) of the BMW cars manufactured between the years 2010 and 2015 grouped by each model.

In [36]:
E= df[(df.year>= 2010) &
      (df.year< 2015) &
      (df.make == 'BMW') &
      (df.condition >= 4.5)&
      (df.body == 'Sedan')]

E

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
37,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,5.0,111.0,black,â€”,financial services remarketing (lease),32200,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
39,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,9027.0,white,black,financial services remarketing (lease),30200,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
59,2014,BMW,M5,Base,Sedan,automatic,ca,4.7,7766.0,gray,black,fratelli investment group,71000,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
106,2014,BMW,5 Series,535d,Sedan,automatic,ca,4.8,12292.0,white,black,financial services remarketing (lease),46300,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457488,2013,BMW,5 Series,528i,Sedan,automatic,ca,4.6,38327.0,gray,black,financial services remarketing,26200,Tue Jun 09 2015 05:30:00 GMT-0700 (PDT)
459134,2014,BMW,5 Series,528i,Sedan,automatic,fl,4.9,13093.0,black,â€”,financial services remarketing (lease),33100,Tue Jun 02 2015 04:00:00 GMT-0700 (PDT)
460262,2013,BMW,3 Series,328i,Sedan,automatic,fl,4.6,25261.0,silver,black,alternative enterprises inc,23600,Tue May 26 2015 02:30:00 GMT-0700 (PDT)
461632,2010,BMW,5 Series,550i,Sedan,automatic,tx,4.9,31710.0,black,beige,ge fleet services for itself/servicer,23200,Thu May 28 2015 04:00:00 GMT-0700 (PDT)
461806,2014,BMW,3 Series,328d,Sedan,automatic,ca,4.7,32781.0,white,black,bmw north america/lemon law buy backs,27500,Wed May 27 2015 05:30:00 GMT-0700 (PDT)

In [39]:
# year-wise maximum expected price (mp) of the BMW cars
    
    
pd.pivot_table(E, index='model', columns='year', values='mp', aggfunc='mean')

year,2010,2011,2012,2013,2014
model,,,,,
3 Series,14825.000000,20533.582090,24946.534653,26878.571429,32780.132450
5 Series,19033.333333,27639.583333,30939.700375,35493.103448,45792.105263
6 Series Gran Coupe,NaN,NaN,NaN,49921.428571,62655.555556
7 Series,27500.000000,24433.333333,37685.714286,47285.000000,53750.000000
ActiveHybrid 7,NaN,NaN,32100.000000,NaN,66000.000000
M3,NaN,38666.666667,NaN,NaN,NaN
M5,NaN,NaN,NaN,63666.666667,74625.000000
M6 Gran Coupe,NaN,NaN,NaN,NaN,93571.428571

In [40]:
#or 
E.groupby(['model','year'])['mp'].mean()

model                year
3 Series             2010    14825.000000
                     2011    20533.582090
                     2012    24946.534653
                     2013    26878.571429
                     2014    32780.132450
5 Series             2010    19033.333333
                     2011    27639.583333
                     2012    30939.700375
                     2013    35493.103448
                     2014    45792.105263
6 Series Gran Coupe  2013    49921.428571
                     2014    62655.555556
7 Series             2010    27500.000000
                     2011    24433.333333
                     2012    37685.714286
                     2013    47285.000000
                     2014    53750.000000
ActiveHybrid 7       2012    32100.000000
                     2014    66000.000000
M3                   2011    38666.666667
M5                   2013    63666.666667
                     2014    74625.000000
M6 Gran Coupe        2014    93571.428571
Name: mp, dtype: float64

### Task 8
John wants to recommend Eric to even consider SUVsS U Vees from other manufacturers before finalizing the car.
John needs to list the top 100 SUVsS U Vees available between the years 2010 and 2015, based on their prices (in descending order) with an odometer reading <= 30000.

In [46]:
#top 100 SUVs 

e= df[(df.year>= 2010) &
      (df.year< 2015) &
      (df.body == 'SUV') &
      (df.odometer <= 3000)].head(100)

e

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
45,2014,BMW,X6,xDrive35i,SUV,automatic,ca,4.0,379.0,white,black,financial services remarketing (lease),54800,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
338,2013,Hyundai,Santa Fe,Sport 2.0T,SUV,automatic,ca,5.0,66.0,silver,black,hyundai motor america/co car,23100,Tue Dec 16 2014 12:00:00 GMT-0800 (PST)
416,2013,Land Rover,LR4,HSE LUX,SUV,automatic,ca,4.4,2059.0,gray,black,land rover north america llc,58500,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
1723,2012,Mercedes-Benz,M-Class,ML63 AMG,SUV,NaN,ca,NaN,1.0,NaN,NaN,high bid trading co inc,69000,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
4051,2014,Ford,Escape,S,SUV,automatic,ca,1.0,1762.0,white,black,ge fleet services for itself/servicer,15900,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95547,2014,Hyundai,Santa Fe Sport,Sport,SUV,automatic,ca,5.0,7.0,gray,gray,hyundai motor america/co car,20900,Tue Jan 13 2015 12:00:00 GMT-0800 (PST)
95604,2014,Jeep,Cherokee,Sport,SUV,automatic,pa,5.0,1695.0,white,gray,"chrysler group,llc",19600,Thu Jan 08 2015 09:30:00 GMT-0800 (PST)
95608,2014,Jeep,Cherokee,Sport,SUV,NaN,pa,4.0,2345.0,gray,black,"chrysler group,llc",17150,Thu Jan 22 2015 01:30:00 GMT-0800 (PST)
95621,2014,Jeep,Grand Cherokee,Limited,SUV,NaN,pa,4.0,750.0,black,black,"chrysler group,llc",35400,Thu Jan 08 2015 09:30:00 GMT-0800 (PST)
96019,2014,Toyota,RAV4,XLE,SUV,automatic,wi,5.0,2445.0,blue,gray,toyota financial services,23700,Wed Jan 07 2015 10:00:00 GMT-0800 (PST)

In [44]:
#avaliable SUVs in decending mp value

e.sort_values(by='mp')

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
410774,2010,Suzuki,Grand Vitara,Premium,SUV,NaN,nc,2.0,1.0,black,gray,pra receivables management llc,6350,Mon Apr 27 2015 02:30:00 GMT-0700 (PDT)
44471,2010,Jeep,Patriot,Sport,SUV,automatic,tn,2.0,1.0,white,black,lease plan usa/tra,9500,Tue Dec 23 2014 10:00:00 GMT-0800 (PST)
274790,2010,Dodge,Journey,SXT,SUV,automatic,tx,2.8,1.0,white,gray,sst financial,11700,Wed Feb 18 2015 02:00:00 GMT-0800 (PST)
405181,2014,Hyundai,Santa Fe,GLS,SUV,automatic,nj,1.0,1.0,gray,gray,enterprise vehicle exchange / tra / rental / t...,11750,Wed Jun 10 2015 05:00:00 GMT-0700 (PDT)
408548,2010,Dodge,Journey,SXT,SUV,automatic,la,3.7,1.0,gold,tan,"jpmorgan chase bank,n.a.",13300,Wed Apr 22 2015 04:00:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146575,2014,Land Rover,Range Rover,Supercharged LWB,SUV,automatic,ca,5.0,107.0,black,brown,high bid trading co inc,108000,Thu Jan 15 2015 04:00:00 GMT-0800 (PST)
362025,2014,Porsche,Cayenne,Turbo S,SUV,automatic,fl,4.9,506.0,black,tan,platinum motor cars,114000,Thu Feb 26 2015 01:40:00 GMT-0800 (PST)
291293,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,ca,4.9,2003.0,blue,beige,mercedes-benz financial services,131000,Thu Feb 12 2015 04:30:00 GMT-0800 (PST)
120105,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,il,5.0,1737.0,black,black,autolink sales llc,131000,Tue Jan 27 2015 02:00:00 GMT-0800 (PST)
5842,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,ca,5.0,980.0,charcoal,black,chings trading,133000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)