## Task1 

- The price of 20 such cars is between $30-100K for each car. The price data is provided as a list in the Jupiter Notebook. Click here to download the notebook. Create a Pandas Series object to store the prices of the cars and assign them the row indices from 101 to 120.

In [9]:
import pandas as pd
import numpy as np

In [99]:
price= [80121, 48483, 37077, 30660, 68536, 52666, 78703, 51036, 55643, 56990, 39967, 93822, 51406, 93947, 78373, 62765, 47536, 40528, 58780, 83197]

In [100]:
car_p = pd.Series(price, index=np.arange(101, 121))
car_p

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
dtype: int64

## Task 2
- Identify the row indices and prices of the cars with the highest and the lowest price.

In [101]:
car_p[car_p==car_p.max()]#car with highest price with the corresponding index

114    93947
dtype: int64

In [102]:
car_p[car_p==car_p.min()] #car with lowest price with the corresponding index

104    30660
dtype: int64

## Task 3
- Display the prices of the five cars with the highest values of car price along with their row indices.

In [103]:
car_p.sort_values(ascending=False)[0:5]

114    93947
112    93822
120    83197
101    80121
107    78703
dtype: int64

## Task 4

- Display the prices of all cars priced between $30-40k along with the row indices. Calculate and display the count of these cars.

In [104]:
car_p[(car_p <= 40000)&(car_p>= 30000)]

103    37077
104    30660
111    39967
dtype: int64

## Task 5

- Display the prices and row indices of the cars that are priced above the average price of all cars. Display the count of such cars.

In [105]:
car_p[car_p>=car_p.mean()]

101    80121
105    68536
107    78703
112    93822
114    93947
115    78373
116    62765
120    83197
dtype: int64

In [106]:
cnt= len(car_p[car_p >= car_p.mean()]) 
print('count of car prices above the avg price:', cnt)

count of car prices above the avg price: 8

In [107]:
(car_p[car_p >= car_p.mean()]).size

8

In [108]:
(car_p[car_p >= car_p.mean()]).shape

(8,)

## Task 6

The car dealer needs to add three new cars with the row indices 201, 202, and 203 priced at $34,000, 45,000, and 54,000 respectively. Update the existing data and display the prices along with the row indices of all cars.

In [109]:
car_i = [201, 202, 203]
car_price = [34000, 45000, 54000]

car_p2 = pd.Series(car_price, index=car_i)
car_p2

201    34000
202    45000
203    54000
dtype: int64

In [110]:
new_car = pd.concat([car_p,car_p2]) #adding the old data with the new one 
new_car

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
201    34000
202    45000
203    54000
dtype: int64

## Task 7

The car dealer is offering a discount of 20% on cars priced above $60,000. Display the row indices along with the original and discounted prices of all such cars.

In [111]:
new_car[new_car>=60000]

101    80121
105    68536
107    78703
112    93822
114    93947
115    78373
116    62765
120    83197
dtype: int64

In [112]:
new_car[new_car>=60000]*.8 #a discount of 20%

101    64096.8
105    54828.8
107    62962.4
112    75057.6
114    75157.6
115    62698.4
116    50212.0
120    66557.6
dtype: float64

In [120]:

A = pd.DataFrame(new_car[new_car >= 60000])
A['Discounted price'] = new_car[new_car >= 60000] * 0.8
A= A.rename(columns={0:'Original price'}) 
A

     Original price  Discounted price
101           80121           64096.8
105           68536           54828.8
107           78703           62962.4
112           93822           75057.6
114           93947           75157.6
115           78373           62698.4
116           62765           50212.0
120           83197           66557.6

## Task 8

The cars priced above $60,000 are now sold due to the 20% discount offered by the dealer. Update the data by deleting the details of the sold cars and print the updated data. Display the count of cars before and after updating the data

In [124]:

print('Count of cars before updating the data:\n', new_car, '\n')

sold_cars = new_car[new_car >= 60000]

# count of cars after filtering
print("\nCount of cars after filtering the data:")
print(sold_cars)

# count of cars after updating the table 
updated_data = new_car.drop(labels=sold_cars.index)
print("\nCount of cars after updating the data:")
print(updated_data)

Count of cars before updating the data:
 101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
201    34000
202    45000
203    54000
dtype: int64


Count of cars after filtering the data:
101    80121
105    68536
107    78703
112    93822
114    93947
115    78373
116    62765
120    83197
dtype: int64

Count of cars after updating the data:
102    48483
103    37077
104    30660
106    52666
108    51036
109    55643
110    56990
111    39967
113    51406
117    47536
118    40528
119    58780
201    34000
202    45000
203    54000
dtype: int64