### Task 1
'''
Calculate the average age of the employees in the IT firm.
'''

In [35]:
import os
os.getcwd()

'C:\\Users\\meher\\Downloads'

In [23]:
from numpy import genfromtxt
import numpy as np

# Load the CSV file from the current working directory
emp_data = genfromtxt('DS1_C4_S1_Employee_Data_Challenge.csv', delimiter=',', skip_header=1)
emp_data

array([[ 1., 22.],
       [ 2., 27.],
       [ 3., 31.],
       [ 4., 29.],
       [ 5., 27.],
       [ 6., 26.],
       [ 7., 27.],
       [ 8., 23.],
       [ 9., 27.],
       [10., 32.],
       [11., 28.],
       [12., 27.],
       [13., 22.],
       [14., 27.],
       [15., 35.],
       [16., 33.],
       [17., 28.],
       [18., 22.],
       [19., 25.],
       [20., 27.],
       [21., 37.],
       [22., 27.],
       [23., 24.],
       [24., 27.],
       [25., 28.],
       [26., 26.],
       [27., 27.],
       [28., 27.],
       [29., 29.],
       [30., 49.],
       [31., 26.],
       [32., 32.],
       [33., 26.],
       [34., 24.],
       [35., 24.],
       [36., 23.],
       [37., 28.],
       [38., 28.],
       [39., 22.],
       [40., 26.],
       [41., 32.],
       [42., 35.],
       [43., 33.],
       [44., 31.],
       [45., 30.],
       [46., 36.],
       [47., 22.],
       [48., 23.],
       [49., 32.],
       [50., 34.]])

In [24]:
np.genfromtxt('DS1_C4_S1_Employee_Data_Challenge.csv', delimiter=',', skip_header=1) # another alternative

array([[ 1., 22.],
       [ 2., 27.],
       [ 3., 31.],
       [ 4., 29.],
       [ 5., 27.],
       [ 6., 26.],
       [ 7., 27.],
       [ 8., 23.],
       [ 9., 27.],
       [10., 32.],
       [11., 28.],
       [12., 27.],
       [13., 22.],
       [14., 27.],
       [15., 35.],
       [16., 33.],
       [17., 28.],
       [18., 22.],
       [19., 25.],
       [20., 27.],
       [21., 37.],
       [22., 27.],
       [23., 24.],
       [24., 27.],
       [25., 28.],
       [26., 26.],
       [27., 27.],
       [28., 27.],
       [29., 29.],
       [30., 49.],
       [31., 26.],
       [32., 32.],
       [33., 26.],
       [34., 24.],
       [35., 24.],
       [36., 23.],
       [37., 28.],
       [38., 28.],
       [39., 22.],
       [40., 26.],
       [41., 32.],
       [42., 35.],
       [43., 33.],
       [44., 31.],
       [45., 30.],
       [46., 36.],
       [47., 22.],
       [48., 23.],
       [49., 32.],
       [50., 34.]])

In [25]:
# finsing the avg age of all employees
emp_data[0:50,1]

array([22., 27., 31., 29., 27., 26., 27., 23., 27., 32., 28., 27., 22.,
       27., 35., 33., 28., 22., 25., 27., 37., 27., 24., 27., 28., 26.,
       27., 27., 29., 49., 26., 32., 26., 24., 24., 23., 28., 28., 22.,
       26., 32., 35., 33., 31., 30., 36., 22., 23., 32., 34.])

In [26]:
emp_data[0:50,1].mean() # finding the avg age of all employees, rows 0 up to 50 and column 1

28.26

### Task 2
'''
Display the employee IDs /codes of those employees who are above 25 years of age. Find the count of these employees.
'''

In [27]:
age=emp_data[0:50,1] #printing the age of employees
age

array([22., 27., 31., 29., 27., 26., 27., 23., 27., 32., 28., 27., 22.,
       27., 35., 33., 28., 22., 25., 27., 37., 27., 24., 27., 28., 26.,
       27., 27., 29., 49., 26., 32., 26., 24., 24., 23., 28., 28., 22.,
       26., 32., 35., 33., 31., 30., 36., 22., 23., 32., 34.])

In [28]:
#printing all the ages which are more than 25 years
index=np.where(age>25)
age_more_than_25y=age[index]
age_more_than_25y=age[index]
age_more_than_25y

array([27., 31., 29., 27., 26., 27., 27., 32., 28., 27., 27., 35., 33.,
       28., 27., 37., 27., 27., 28., 26., 27., 27., 29., 49., 26., 32.,
       26., 28., 28., 26., 32., 35., 33., 31., 30., 36., 32., 34.])

In [29]:
print('total number of employees older than 25 years:', age_more_than_25y.size)

total number of employees older than 25 years: 38

In [30]:
index

(array([ 1,  2,  3,  4,  5,  6,  8,  9, 10, 11, 13, 14, 15, 16, 19, 20, 21,
        23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 36, 37, 39, 40, 41, 42, 43,
        44, 45, 48, 49], dtype=int64),)

In [31]:
print('list of employees whose age is more than 25 years along with their employee codes:',emp_data[index])

list of employees whose age is more than 25 years along with their employee codes: [[ 2. 27.]
 [ 3. 31.]
 [ 4. 29.]
 [ 5. 27.]
 [ 6. 26.]
 [ 7. 27.]
 [ 9. 27.]
 [10. 32.]
 [11. 28.]
 [12. 27.]
 [14. 27.]
 [15. 35.]
 [16. 33.]
 [17. 28.]
 [20. 27.]
 [21. 37.]
 [22. 27.]
 [24. 27.]
 [25. 28.]
 [26. 26.]
 [27. 27.]
 [28. 27.]
 [29. 29.]
 [30. 49.]
 [31. 26.]
 [32. 32.]
 [33. 26.]
 [37. 28.]
 [38. 28.]
 [40. 26.]
 [41. 32.]
 [42. 35.]
 [43. 33.]
 [44. 31.]
 [45. 30.]
 [46. 36.]
 [49. 32.]
 [50. 34.]]

### Task 3
''' 
Calculate the total number of employees who are in the age-group of 30—35 years. Display the employee IDs /codes of these employees.
'''

In [32]:
#print all the ages that lie between 30 and 35

indx=np.where((age>30)&(age<35))
print(age[index])

[27. 31. 29. 27. 26. 27. 27. 32. 28. 27. 27. 35. 33. 28. 27. 37. 27. 27.
 28. 26. 27. 27. 29. 49. 26. 32. 26. 28. 28. 26. 32. 35. 33. 31. 30. 36.
 32. 34.]

In [33]:
print('total number of employess whose age lies between 30 and 35 is:', age[index].size)

total number of employess whose age lies between 30 and 35 is: 38

In [34]:
indx

(array([ 2,  9, 15, 31, 40, 42, 43, 48, 49], dtype=int64),)

In [35]:
print('list of employees whose age is more than 30 years but less than 35 years along with their employee codes:',emp_data[indx])

list of employees whose age is more than 30 years but less than 35 years along with their employee codes: [[ 3. 31.]
 [10. 32.]
 [16. 33.]
 [32. 32.]
 [41. 32.]
 [43. 33.]
 [44. 31.]
 [49. 32.]
 [50. 34.]]

In [36]:
import os
os.getcwd()

'C:\\Users\\meher\\Downloads'

In [37]:

from numpy import genfromtxt
import numpy as np


cus_data= genfromtxt('DS1_C4_S1_Shopping_Data_Challenge.csv',delimiter=',', skip_header=1)
cus_data

array([[  1.,  19.,  15.,  39.],
       [  2.,  21.,  15.,  81.],
       [  3.,  20.,  16.,   6.],
       [  4.,  23.,  16.,  77.],
       [  5.,  31.,  17.,  40.],
       [  6.,  22.,  17.,  76.],
       [  7.,  35.,  18.,   6.],
       [  8.,  23.,  18.,  94.],
       [  9.,  64.,  19.,   3.],
       [ 10.,  30.,  19.,  72.],
       [ 11.,  67.,  19.,  14.],
       [ 12.,  35.,  19.,  99.],
       [ 13.,  58.,  20.,  15.],
       [ 14.,  24.,  20.,  77.],
       [ 15.,  37.,  20.,  13.],
       [ 16.,  22.,  20.,  79.],
       [ 17.,  35.,  21.,  35.],
       [ 18.,  20.,  21.,  66.],
       [ 19.,  52.,  23.,  29.],
       [ 20.,  35.,  23.,  98.],
       [ 21.,  35.,  24.,  35.],
       [ 22.,  25.,  24.,  73.],
       [ 23.,  46.,  25.,   5.],
       [ 24.,  31.,  25.,  73.],
       [ 25.,  54.,  28.,  14.],
       [ 26.,  29.,  28.,  82.],
       [ 27.,  45.,  28.,  32.],
       [ 28.,  35.,  28.,  61.],
       [ 29.,  40.,  29.,  31.],
       [ 30.,  23.,  29.,  87.],
       [ 31.,  60.,  30.,   4.],
       [ 32.,  21.,  30.,  73.],
       [ 33.,  53.,  33.,   4.],
       [ 34.,  18.,  33.,  92.],
       [ 35.,  49.,  33.,  14.],
       [ 36.,  21.,  33.,  81.],
       [ 37.,  42.,  34.,  17.],
       [ 38.,  30.,  34.,  73.],
       [ 39.,  36.,  37.,  26.],
       [ 40.,  20.,  37.,  75.],
       [ 41.,  65.,  38.,  35.],
       [ 42.,  24.,  38.,  92.],
       [ 43.,  48.,  39.,  36.],
       [ 44.,  31.,  39.,  61.],
       [ 45.,  49.,  39.,  28.],
       [ 46.,  24.,  39.,  65.],
       [ 47.,  50.,  40.,  55.],
       [ 48.,  27.,  40.,  47.],
       [ 49.,  29.,  40.,  42.],
       [ 50.,  31.,  40.,  42.],
       [ 51.,  49.,  42.,  52.],
       [ 52.,  33.,  42.,  60.],
       [ 53.,  31.,  43.,  54.],
       [ 54.,  59.,  43.,  60.],
       [ 55.,  50.,  43.,  45.],
       [ 56.,  47.,  43.,  41.],
       [ 57.,  51.,  44.,  50.],
       [ 58.,  69.,  44.,  46.],
       [ 59.,  27.,  46.,  51.],
       [ 60.,  53.,  46.,  46.],
       [ 61.,  70.,  46.,  56.],
       [ 62.,  19.,  46.,  55.],
       [ 63.,  67.,  47.,  52.],
       [ 64.,  54.,  47.,  59.],
       [ 65.,  63.,  48.,  51.],
       [ 66.,  18.,  48.,  59.],
       [ 67.,  43.,  48.,  50.],
       [ 68.,  68.,  48.,  48.],
       [ 69.,  19.,  48.,  59.],
       [ 70.,  32.,  48.,  47.],
       [ 71.,  70.,  49.,  55.],
       [ 72.,  47.,  49.,  42.],
       [ 73.,  60.,  50.,  49.],
       [ 74.,  60.,  50.,  56.],
       [ 75.,  59.,  54.,  47.],
       [ 76.,  26.,  54.,  54.],
       [ 77.,  45.,  54.,  53.],
       [ 78.,  40.,  54.,  48.],
       [ 79.,  23.,  54.,  52.],
       [ 80.,  49.,  54.,  42.],
       [ 81.,  57.,  54.,  51.],
       [ 82.,  38.,  54.,  55.],
       [ 83.,  67.,  54.,  41.],
       [ 84.,  46.,  54.,  44.],
       [ 85.,  21.,  54.,  57.],
       [ 86.,  48.,  54.,  46.],
       [ 87.,  55.,  57.,  58.],
       [ 88.,  22.,  57.,  55.],
       [ 89.,  34.,  58.,  60.],
       [ 90.,  50.,  58.,  46.],
       [ 91.,  68.,  59.,  55.],
       [ 92.,  18.,  59.,  41.],
       [ 93.,  48.,  60.,  49.],
       [ 94.,  40.,  60.,  40.],
       [ 95.,  32.,  60.,  42.],
       [ 96.,  24.,  60.,  52.],
       [ 97.,  47.,  60.,  47.],
       [ 98.,  27.,  60.,  50.],
       [ 99.,  48.,  61.,  42.],
       [100.,  20.,  61.,  49.],
       [101.,  23.,  62.,  41.],
       [102.,  49.,  62.,  48.],
       [103.,  67.,  62.,  59.],
       [104.,  26.,  62.,  55.],
       [105.,  49.,  62.,  56.],
       [106.,  21.,  62.,  42.],
       [107.,  66.,  63.,  50.],
       [108.,  54.,  63.,  46.],
       [109.,  68.,  63.,  43.],
       [110.,  66.,  63.,  48.],
       [111.,  65.,  63.,  52.],
       [112.,  19.,  63.,  54.],
       [113.,  38.,  64.,  42.],
       [114.,  19.,  64.,  46.],
       [115.,  18.,  65.,  48.],
       [116.,  19.,  65.,  50.],
       [117.,  63.,  65.,  43.],
       [118.,  49.,  65.,  59.],
       [119.,  51.,  67.,  43.],
       [120.,  50.,  67.,  57.],
       [121.,  27.,  67.,  56.],
       [122.,  38.,  67.,  40.],
       [123.,  40.,  69.,  58.],
       [124.,  39.,  69.,  91.],
       [125.,  23.,  70.,  29.],
       [126.,  31.,  70.,  77.],
       [127.,  43.,  71.,  35.],
       [128.,  40.,  71.,  95.],
       [129.,  59.,  71.,  11.],
       [130.,  38.,  71.,  75.],
       [131.,  47.,  71.,   9.],
       [132.,  39.,  71.,  75.],
       [133.,  25.,  72.,  34.],
       [134.,  31.,  72.,  71.],
       [135.,  20.,  73.,   5.],
       [136.,  29.,  73.,  88.],
       [137.,  44.,  73.,   7.],
       [138.,  32.,  73.,  73.],
       [139.,  19.,  74.,  10.],
       [140.,  35.,  74.,  72.],
       [141.,  57.,  75.,   5.],
       [142.,  32.,  75.,  93.],
       [143.,  28.,  76.,  40.],
       [144.,  32.,  76.,  87.],
       [145.,  25.,  77.,  12.],
       [146.,  28.,  77.,  97.],
       [147.,  48.,  77.,  36.],
       [148.,  32.,  77.,  74.],
       [149.,  34.,  78.,  22.],
       [150.,  34.,  78.,  90.],
       [151.,  43.,  78.,  17.],
       [152.,  39.,  78.,  88.],
       [153.,  44.,  78.,  20.],
       [154.,  38.,  78.,  76.],
       [155.,  47.,  78.,  16.],
       [156.,  27.,  78.,  89.],
       [157.,  37.,  78.,   1.],
       [158.,  30.,  78.,  78.],
       [159.,  34.,  78.,   1.],
       [160.,  30.,  78.,  73.],
       [161.,  56.,  79.,  35.],
       [162.,  29.,  79.,  83.],
       [163.,  19.,  81.,   5.],
       [164.,  31.,  81.,  93.],
       [165.,  50.,  85.,  26.],
       [166.,  36.,  85.,  75.],
       [167.,  42.,  86.,  20.],
       [168.,  33.,  86.,  95.],
       [169.,  36.,  87.,  27.],
       [170.,  32.,  87.,  63.],
       [171.,  40.,  87.,  13.],
       [172.,  28.,  87.,  75.],
       [173.,  36.,  87.,  10.],
       [174.,  36.,  87.,  92.],
       [175.,  52.,  88.,  13.],
       [176.,  30.,  88.,  86.],
       [177.,  58.,  88.,  15.],
       [178.,  27.,  88.,  69.],
       [179.,  59.,  93.,  14.],
       [180.,  35.,  93.,  90.],
       [181.,  37.,  97.,  32.],
       [182.,  32.,  97.,  86.],
       [183.,  46.,  98.,  15.],
       [184.,  29.,  98.,  88.],
       [185.,  41.,  99.,  39.],
       [186.,  30.,  99.,  97.],
       [187.,  54., 101.,  24.],
       [188.,  28., 101.,  68.],
       [189.,  41., 103.,  17.],
       [190.,  36., 103.,  85.],
       [191.,  34., 103.,  23.],
       [192.,  32., 103.,  69.],
       [193.,  33., 113.,   8.],
       [194.,  38., 113.,  91.],
       [195.,  47., 120.,  16.],
       [196.,  35., 120.,  79.],
       [197.,  45., 126.,  28.],
       [198.,  32., 126.,  74.],
       [199.,  32., 137.,  18.],
       [200.,  30., 137.,  83.]])

### Task 1
'''
Calculate the average age of the employees in the ITI T firm.
'''

In [38]:
#slicing the specific column containing the spedning score 
spn=cus_data[:,3]
spn

array([39., 81.,  6., 77., 40., 76.,  6., 94.,  3., 72., 14., 99., 15.,
       77., 13., 79., 35., 66., 29., 98., 35., 73.,  5., 73., 14., 82.,
       32., 61., 31., 87.,  4., 73.,  4., 92., 14., 81., 17., 73., 26.,
       75., 35., 92., 36., 61., 28., 65., 55., 47., 42., 42., 52., 60.,
       54., 60., 45., 41., 50., 46., 51., 46., 56., 55., 52., 59., 51.,
       59., 50., 48., 59., 47., 55., 42., 49., 56., 47., 54., 53., 48.,
       52., 42., 51., 55., 41., 44., 57., 46., 58., 55., 60., 46., 55.,
       41., 49., 40., 42., 52., 47., 50., 42., 49., 41., 48., 59., 55.,
       56., 42., 50., 46., 43., 48., 52., 54., 42., 46., 48., 50., 43.,
       59., 43., 57., 56., 40., 58., 91., 29., 77., 35., 95., 11., 75.,
        9., 75., 34., 71.,  5., 88.,  7., 73., 10., 72.,  5., 93., 40.,
       87., 12., 97., 36., 74., 22., 90., 17., 88., 20., 76., 16., 89.,
        1., 78.,  1., 73., 35., 83.,  5., 93., 26., 75., 20., 95., 27.,
       63., 13., 75., 10., 92., 13., 86., 15., 69., 14., 90., 32., 86.,
       15., 88., 39., 97., 24., 68., 17., 85., 23., 69.,  8., 91., 16.,
       79., 28., 74., 18., 83.])

In [39]:

# print all the scores which are more than 80
indx=np.where(spn>80) # we are fetching the index position od data items where spend score is >80 
spnscore_more_than_80=spn[indx]
print(spnscore_more_than_80)

[81. 94. 99. 98. 82. 87. 92. 81. 92. 91. 95. 88. 93. 87. 97. 90. 88. 89.
 83. 93. 95. 92. 86. 90. 86. 88. 97. 85. 91. 83.]

In [40]:
print('total number of customers whose spending socre is more than 80:',spnscore_more_than_80.size)

total number of customers whose spending socre is more than 80: 30

### Task 2
'''
Display the employee IDs /codes of those employees who are above 25 years of age. Find the count of these employees.
'''

In [41]:
#printing all the ages of customers
age=cus_data[:,1] #slicing the age column 
age

array([19., 21., 20., 23., 31., 22., 35., 23., 64., 30., 67., 35., 58.,
       24., 37., 22., 35., 20., 52., 35., 35., 25., 46., 31., 54., 29.,
       45., 35., 40., 23., 60., 21., 53., 18., 49., 21., 42., 30., 36.,
       20., 65., 24., 48., 31., 49., 24., 50., 27., 29., 31., 49., 33.,
       31., 59., 50., 47., 51., 69., 27., 53., 70., 19., 67., 54., 63.,
       18., 43., 68., 19., 32., 70., 47., 60., 60., 59., 26., 45., 40.,
       23., 49., 57., 38., 67., 46., 21., 48., 55., 22., 34., 50., 68.,
       18., 48., 40., 32., 24., 47., 27., 48., 20., 23., 49., 67., 26.,
       49., 21., 66., 54., 68., 66., 65., 19., 38., 19., 18., 19., 63.,
       49., 51., 50., 27., 38., 40., 39., 23., 31., 43., 40., 59., 38.,
       47., 39., 25., 31., 20., 29., 44., 32., 19., 35., 57., 32., 28.,
       32., 25., 28., 48., 32., 34., 34., 43., 39., 44., 38., 47., 27.,
       37., 30., 34., 30., 56., 29., 19., 31., 50., 36., 42., 33., 36.,
       32., 40., 28., 36., 36., 52., 30., 58., 27., 59., 35., 37., 32.,
       46., 29., 41., 30., 54., 28., 41., 36., 34., 32., 33., 38., 47.,
       35., 45., 32., 32., 30.])

In [42]:
# print all the ages from 20-24
ind=np.where((age>=20)&(age<25))
print(age[ind])

[21. 20. 23. 22. 23. 24. 22. 20. 23. 21. 21. 20. 24. 24. 23. 21. 22. 24.
 20. 23. 21. 23. 20.]

In [43]:
print('total number of employees whose age lie between 20 and 25 is:',age[ind].size)

total number of employees whose age lie between 20 and 25 is: 23

In [44]:
ind

(array([  1,   2,   3,   5,   7,  13,  15,  17,  29,  31,  35,  39,  41,
         45,  78,  84,  87,  95,  99, 100, 105, 124, 134], dtype=int64),)

In [45]:
#displaying therows pertaiing to only the customer age between 21 and 25
print(cus_data[ind])

[[  2.  21.  15.  81.]
 [  3.  20.  16.   6.]
 [  4.  23.  16.  77.]
 [  6.  22.  17.  76.]
 [  8.  23.  18.  94.]
 [ 14.  24.  20.  77.]
 [ 16.  22.  20.  79.]
 [ 18.  20.  21.  66.]
 [ 30.  23.  29.  87.]
 [ 32.  21.  30.  73.]
 [ 36.  21.  33.  81.]
 [ 40.  20.  37.  75.]
 [ 42.  24.  38.  92.]
 [ 46.  24.  39.  65.]
 [ 79.  23.  54.  52.]
 [ 85.  21.  54.  57.]
 [ 88.  22.  57.  55.]
 [ 96.  24.  60.  52.]
 [100.  20.  61.  49.]
 [101.  23.  62.  41.]
 [106.  21.  62.  42.]
 [125.  23.  70.  29.]
 [135.  20.  73.   5.]]

### Task 3
'''
Calculate the total number of employees who are in the age-group of 30—35 years. Display the employee IDs/codes of these employees.
'''

In [52]:
sal=cus_data[:,2] #slicing the salary column
print('the lowest annual salary present in dataset is:',sal.min())

the lowest annual salary present in dataset is: 15.0

In [53]:
#finding the index position of customer whose salary is 15k
index=np.where(sal==15)
print(index)

(array([0, 1], dtype=int64),)

In [56]:
#print the customer id whose annual salary is the lowest 
custid=cus_data[:,0]
print('customerid of customer who has the lowest salary:', custid[index])

customerid of customer who has the lowest salary: [1. 2.]

In [48]:
#finind the highest salary
sal=cu_data[:,2]
print('the highest annual salary present in dataset is:',sal.max())

(array([  4,  23,  43,  49,  51,  52,  69,  88,  94, 125, 133, 137, 141,
        143, 147, 148, 149, 158, 163, 167, 169, 181, 190, 191, 192, 197,
        198], dtype=int64),)

In [58]:
#finding the highest salary
sal=cus_data[:,2]
print('the highest annual salary present in dataset is:',sal.max())

the highest annual salary present in dataset is: 137.0

In [59]:
#fininding the index position of the customer whose salary is 137k usd
index1=np.where(sal==137)
print(index1)

(array([198, 199], dtype=int64),)

In [60]:
#printing the customer id whi highest annual salary 
cusid=cus_data[:,0]
print('customer id with highest annual income:',custid[index1])

customer id with highest annual income: [199. 200.]

### Task 4
'''
Display the details of the customers who are less than 45 years of age, have an annual income greater than $35k, and have a spending score greater than 75. How many such customers are there in the given data?
'''

In [62]:
indx=np.where((spn>75)&(age<45)&(sal>35))
#each of the above individual arrays i.e spend, age and sal which is sliced from original array
print('index position of customers as per the given condition:\n',indx)

index position of customers as per the given condition:
 (array([ 41, 123, 125, 127, 135, 141, 143, 145, 149, 151, 153, 155, 157,
       161, 163, 167, 173, 175, 179, 181, 183, 185, 189, 193, 195, 199],
      dtype=int64),)

In [63]:
print('total number of customers who are eligible for sicount:', age[indx].size)

total number of customers who are eligible for sicount: 26

### Task 5
''' 
During the Christmas season, the company wishes to offer random gift coupons valued between $10 and $50 to all its customers. Add a new column for the gift coupons in the existing data. Display the details of the customers after adding the new column.
'''

In [65]:
#generating random gift coupon between $10 to $50 percent for 200 customers
disc=np.random.randint(10,51, size=(200,1)) #press shift and tab
disc

array([[22],
       [48],
       [23],
       [47],
       [11],
       [22],
       [13],
       [38],
       [22],
       [38],
       [31],
       [21],
       [21],
       [23],
       [29],
       [44],
       [27],
       [17],
       [23],
       [34],
       [16],
       [41],
       [19],
       [47],
       [27],
       [29],
       [28],
       [29],
       [22],
       [35],
       [24],
       [49],
       [14],
       [30],
       [19],
       [33],
       [19],
       [34],
       [30],
       [16],
       [46],
       [19],
       [23],
       [30],
       [18],
       [19],
       [49],
       [46],
       [10],
       [44],
       [30],
       [15],
       [11],
       [46],
       [46],
       [17],
       [19],
       [36],
       [49],
       [42],
       [29],
       [47],
       [33],
       [32],
       [15],
       [10],
       [18],
       [13],
       [14],
       [15],
       [41],
       [39],
       [25],
       [36],
       [17],
       [38],
       [12],
       [36],
       [25],
       [44],
       [44],
       [14],
       [18],
       [46],
       [48],
       [17],
       [17],
       [28],
       [44],
       [14],
       [33],
       [25],
       [29],
       [41],
       [11],
       [29],
       [37],
       [21],
       [43],
       [16],
       [40],
       [37],
       [34],
       [21],
       [49],
       [49],
       [12],
       [40],
       [14],
       [29],
       [30],
       [10],
       [41],
       [28],
       [45],
       [30],
       [43],
       [49],
       [47],
       [21],
       [42],
       [21],
       [36],
       [27],
       [17],
       [17],
       [13],
       [31],
       [46],
       [39],
       [38],
       [32],
       [25],
       [10],
       [34],
       [48],
       [12],
       [44],
       [13],
       [26],
       [16],
       [36],
       [10],
       [49],
       [40],
       [49],
       [39],
       [28],
       [36],
       [14],
       [26],
       [41],
       [36],
       [22],
       [12],
       [50],
       [38],
       [44],
       [10],
       [38],
       [16],
       [19],
       [42],
       [29],
       [46],
       [42],
       [40],
       [12],
       [13],
       [44],
       [45],
       [40],
       [41],
       [37],
       [33],
       [32],
       [20],
       [42],
       [36],
       [10],
       [44],
       [18],
       [38],
       [21],
       [15],
       [26],
       [14],
       [20],
       [45],
       [41],
       [12],
       [33],
       [23],
       [21],
       [19],
       [13],
       [49],
       [23],
       [40],
       [31]])